*{
    align-items: center;
}
#root{
    background-color: rgb(232, 224, 235);
    padding:20px;
    border-radius: 10px;
    text-align: center;
}
.btn{
    background-color: rgb(47, 183, 70);
    /* background-color: green;
    color: greenyellow; */
}
body{
    background-color: rgba(165, 172, 228, 0.842);
    justify-content: center;
    display:flex;
    padding-top: 150px;
}
/* form{
    background-color: bisque;
    margin: 200px;
    flex-direction: column;
} */
 
 /* .im {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2px;
    height: 2px;
    padding: 50px;
} */
.img{
    align-items: center;
}